body {
	background-color: #212121;
}

.row.no-pad {
	margin: 0px;
}

.row.no-pad > [class*='col-'] {
	padding: 0px;
}

video {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.videobox, .videobox-novideo {
	background-color: #bdbdbd;
}

.chatbox {
	background-color: #cfdbdc;
	max-height: 550px;
	width: 267px;
}

#mute, #pause, #unpublish {
	margin-left: 5px;
}

#restartbox {
	width: 267px;
	height: 200px;
	background-image: url('../images/novideo.jpg');
	background-size: 267px 200px;
}

#restartbox p {
	margin-left: 15px;
}

#notifbox {
	font-size: larger;
	margin-top: 15px;
}

#welcomebox {
	margin-top: 15px;
}

#videolocal, div[id*='videoremote'] {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
}

#videomember {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	max-height: 480px;
	overflow: auto;
}

#videofocus {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	max-width: 640px;
	max-height: 480px;
}
