.row.no-pad {
	margin-right: 4px;
	margin-left: 0px;
}

.row.no-pad > [class*='col-'] {
	padding-right: 4px;
	padding-left: 0px;
}

video {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.videobox, .videobox-novideo {
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #000000;
}

#notif {
	font-size: larger;
}

#welcomeinfo {
	margin-top: 10px;
}
