body {
	background-color: #3B3C3D;
}

video {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	background-color: #4D545E;
}

.videobox, .videobox-novideo {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#mute, #pause, #unpublish {
	margin-left: 5px;
}

#restartbox {
	width: 160px;
	height: 120px;
	background-image: url('../images/novideo.jpg');
	background-size: 160px 120px;
}

#restartbox p {
	margin-left: 15px;
}

#notifbox {
	font-size: larger;
	margin-top: 15px;
}

#guidebox {
	margin-top: 15px;
}

#videofocus {
	position: relative;
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#videolocal, div[id*='videoremote'] {
	position: relative;
	margin: 0px !important;
	padding: 0px !important;
}

#videomember {
	position: relative;
	overflow: auto;
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#meetmeheader {
	max-width: 1310px;
}

#tableft {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#tabright {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#chatbox {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 640px;
	max-height: 480px;
}

#chatboxcontent {
	overflow: auto;
	background-color: #CFDBDC;
	padding: 4px;
	max-width: 640px;
	max-height: 120px;
	min-height: 120px;
}

#chatboxinput {
	max-width: 640px;
}

@media screen and (min-width: 1366px) {
	.container-fluid {
		max-width: 1366px;
	}
	
	#meetmeheader {
		max-width: 1310px;
	}
	
	#tableft {
		margin: 0px !important;
		padding: 0px !important;
		min-width: 640px;
		min-height: 480px;
	}

	#tabright {
		margin: 0px !important;
		padding: 0px !important;
		min-width: 640px;
		min-height: 480px;
	}

	#chatbox {
		margin: 0px !important;
		padding: 0px !important;
		min-width: 640px;
		min-height: 180px;
	}

	#chatboxcontent {
		overflow: auto;
		background-color: #CFDBDC;
		padding: 4px;
		min-width: 640px;
		min-height: 120px;
		max-height: 120px;
	}

	#chatboxinput {
		min-width: 640px;
	}
}
